

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

.container {

    display: flex;
    flex-wrap: wrap;
    height: 640px;
    max-width: 640px;
}
